
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: White;
    font-family:sans-serif;
}


///////////////////////////////////////////////// HOMEPAGE ////////////////////////////////////////////////////////////////


.hero-image {
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)),url(background.jpg) no-repeat center;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    height: 60vh;
    font-family: 'PT Sans', sans-serif;
}

.container h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
}

.container h1 span {
    border-bottom: 5px solid rgba(255,255,255,.3);
    padding: 6px 14px;
    display: inline-block;
}

.description {
    margin: 20px;
    display: block;
    font-size: 20px;

}
.sitepicture{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70vh;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0)),url(background2.jpg) no-repeat center;
    background-size: cover;
}

.sitecontainer{
    display: right;
    justify-content: space-around;
    max-width: 28vw;
    margin-left: 10vw;
}
.sitecontainer h1{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    color: white;
    font-size: 3em;
    letter-spacing: .2em;
    text-align: center;
}

.sitedescription{
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    display: block;
    color: white;
}
.hikingpicture{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70vh;
    overflow: hidden;
    background: linear-gradient(to left, rgba(0,0,0,0.4),rgba(0,0,0,0)),url(hiking.jpg) no-repeat center;
    background-size: cover;
}

.hikingcontainer{
    display: right;
    justify-content: space-around;
    max-width: 28vw;
    margin-left: 65vw;
}
.hikingcontainer h1{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    color: white;
    font-size: 3em;
    letter-spacing: .2em;
    text-align: center;
}

.hikingdescription{
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    display: block;
    color: white;
}


///////////////////////////////////////////////// NAVIGATION BAR ////////////////////////////////////////////////////////



pagenav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(63, 65, 82);
}

.logo{
    color: white;
    letter-spacing:.2em;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
a:visited {
    color: white;
}

.pagenav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.pagenav-links li{
    list-style: none;
}

.pagenav-links li a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 14px;
}
.burger{
    display: none;
}

 .burger div{
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .pagenav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .pagenav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(63, 65, 82);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .pagenav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.pagenav-active{
    transform: translateX(0%);
}

@keyframes pagenavLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg)translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg)translate(-5px,-5px);
}


///////////////////////////////////////////////// LODGING PAGE //////////////////////////////////////////////////////////


.hero-image3 {
    height: 45vh;
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)),url(lodging.jpg) no-repeat center;
    background-size: cover;
}

.container3{
    display: right;
    justify-content: space-around;
    max-width: 50vw;
    margin-left: 10vw;
}
.container3 h1{
   
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    color: black;
    font-weight: 700;
    font-size: 2em;
}    
.container4 p{
    text-align: left;
    max-width: 50vw;
    margin-left: 10vw;
    
}


///////////////////////////////////////////////// TRANSPORTATION PAGE //////////////////////////////////////////////////

.hero-image4 {
    height: 45vh;
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)),url(transportation.jpg) no-repeat center;
    background-size: cover;
