
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: White;
    font-family:sans-serif;
}


/*//////////////////////////////////////////////// HOMEPAGE ///////////////////////////////////////////////////////////////*/


.slide1 {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0)),url(background.jpg) no-repeat center;
    background-size: cover;
}
.slide1container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    height: 60vh;
    text-shadow: 2px 2px 2px #000000;
}

.slide1container h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    font-family: 'PT Sans', sans-serif;
}

.slide1container h1 span {
    border-bottom: 5px solid rgba(255,255,255,.3);
    padding: 6px 14px;
    display: inline-block;
}

.slide1description {
    font-family: 'Lato', sans-serif;
    margin: 20px;
    display: block;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px #000000;
}
/*//////////////////////////////////////////////// SLIDE 1 ///////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// SLIDE 2 ///////////////////////////////////////////////////////*/
.slide2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAF7F7; /* Blanched Almond */ 
    height: 75vh;
    overflow: hidden;
    min-height: 50vh;
}
.slide2 p{
    color: #292929;
    font-size: 1.5em;
    max-width: 40vw;
    font-family: 'Lato', sans-serif;
}
.slide2 img {
    border-radius: 25%;
    height: 40vh;
}
/*//////////////////////////////////////////////// SLIDE 2 ///////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// SLIDE 3 ///////////////////////////////////////////////////////*/
.slide3picture{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.6)),url(background2.jpg) no-repeat center;
    background-size: cover;
}

.slide3container{
    width: 60vw;
    height: 60vh;
    margin-left: 10vw;
    align-self: center;
    display: block;
    overflow: auto;
  
}
.slide3container h3{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    color: white;
    font-size: 3em;
    letter-spacing: .1em;
    text-align: left;
    text-shadow: 2px 2px 2px #000000;
}

.slide3description{
    font-size: 1.4em;
    text-align: left;
    margin-top: 20px;
    display: block;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px #000000;
}
.buttonpark{
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: .8em;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.buttonpark:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
/*//////////////////////////////////////////////// SLIDE 3 ///////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// SLIDE 4 ///////////////////////////////////////////////////////*/
.slide4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65vh;
    overflow: hidden;
    background: #FAF7F7; /* White smoke */
    background-size: cover;
}

.slide4container{
    max-width: 100vw;
    align-self: center;
    display: block;
    overflow: auto;
    height: 60vh;
    margin-right: 5vw;
}
.slide4container h3{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #0371ac;  /* Honolulu blue */
    font-size: 3em;
    letter-spacing: .2em;
    text-align: left;
}

.slide4description{
    font-size: 1.4em;
    text-align: left;
    margin-top: 20px;
    display: block;
    color: #221F20; /* Raisin black */
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}
.slide4 img {
    border-radius: 0%;
    height: 40vh;
    margin: 10vh 5vw;
    align-self: center;
}
.buttontransportation{
    border: 1px solid #0371ac;
    background-color: inherit;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    position: absolute;
}

.buttontransportation:hover {
  background-color: #0371ac;  /* Honolulu blue */
  Color: #FAF7F7; /* White smoke */

}
/*//////////////////////////////////////////////// SLIDE 4 ///////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// SLIDE 5 ///////////////////////////////////////////////////////*/
.slide5picture{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.2)),url(hiking.jpg) no-repeat center;
    background-size: cover;
}
.slide5container{
    width: 40vw;
    height: 100%;
    margin-left: 10vw;
    align-self: center;
    display: block;
    overflow: auto;
}
.slide5-links{
    color: white;
    font-family: 'PT Sans', sans-serif;
    display: block;
    overflow: auto;
    height: 40vh;
}
.slide5-links li{
}
.slide5-links li a{
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
    padding: 25px; 
    font-size: 1.4em;
    text-shadow: 2px 2px 2px #000000;
    text-align: left;
}
.slide5-links li a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.slide5container h3{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    letter-spacing: .2em;
    text-align:left;
    text-shadow: 2px 2px 2px #000000;
}
.slide5description{
    font-size: 1.5em;
    text-align: left;
    letter-spacing: .04em;
    color: white;
    font-family: 'Lato', sans-serif;
    overflow: auto;
    text-shadow: 2px 2px 2px #000000;
}
/*//////////////////////////////////////////////// SLIDE 5 ///////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// HOMEPAGE ///////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// NAVIGATION BAR ///////////////////////////////////////////////////////*/

pagenav {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white;
}

.logo {
    color: #221F20;
    letter-spacing: .2em;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-left: 5vw;
}

a:link{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
    text-decoration: none;
}
.pagenav-links li a:hover{
    text-decoration: underline;
    color:#0371ac;
}
 a:active {
    text-decoration: underline;
    color: white;
}
.pagenav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 5vw;
}

.pagenav-links li {
    list-style: none;
}

.pagenav-links li a {
    color: #221F20;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1em;
    font-family: 'PT sans', sans-serif;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #221F20; /* Raisin black */
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .pagenav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .pagenav-links {
        position: absolute;
        right: -5vw;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .pagenav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.pagenav-active {
    transform: translateX(0%);
}

@keyframes pagenavLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg)translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg)translate(-5px, -5px);
}
/*//////////////////////////////////////////////// NAVIGATION BAR ///////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////    FOOTER        ///////////////////////////////////////////////////////*/
footer {
    background: #F8E8D1; /* Blanched Almond */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30vh;
    overflow: hidden;
    background-size: cover;
}

.footer-links{
    width: 50vw;
    height: 100%;
    margin-left: 10vw;
    display: block;
    overflow: hidden;
}
.footer-links li{
     list-style: none;
     width: 6em;
}
.footer-links ul {
    float: left;
    display: flex;
    flex-flow: wrap column;
    column-count: 3;
}
.footer-links li a:hover{
    text-decoration: underline;
    color:#0371ac;
}
.footer-links li a{
    font-family: 'PT Sans', sans-serif;
    color: #221F20; /* Raisin black */
}
.footer-links h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}
/*//////////////////////////////////////////////// LODGING PAGE /////////////////////////////////////////////////////////*/


.hero-image3 {
    height: 25vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(lodging.jpg) no-repeat center;
    background-size: cover;
}

.container3 {
    justify-content: space-around;
    max-width: 50vw;
    margin-left: 10vw;
}

.container3 h1 {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    color: black;
    font-weight: 700;
    font-size: 2em;
}

.container4 p {
    text-align: left;
    max-width: 75vw;
    margin: 0 10vw;

}
/*//////////////////////////////////////////////// STAY PAGE /////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// CAROUSEL /////////////////////////////////////////////////*/

.carousel {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: translateX(-5%) scale(1.2);
}

.carousel div {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(33, 30, 31, .5);
    color: #FAF7F7; /* White smoke */;
    text-align: center;
    padding: 10px;
    opacity: 0;
    font-size: 12px;
}

.carousel div.visible {
    display: block;
    opacity: 1;
    transition: opacity;
}

.carousel img.visible {
    opacity: 1;
    width: 100%;
    transform: translateX(0);
    transition: opacity 1s, transform 10s ease-out;
}

/*//////////////////////////////////////////////// CAROUSEL /////////////////////////////////////////////////*/

.cardsection{
    background: #FAF7F7; /* White smoke */;
}

.card {
    display: flex;
    padding: 20px;
    color: #221F20; /* Raisin Black */
}

.card a:link{
    color: #6A686A; /* Dim Grey */
}
.card a:hover{
   color: #221F20; /* Raisin Black */
}
.cardThumb {
    flex-shrink: 0;
    width: 160px;
    height: 100px;
    object-fit: cover;
}

.cardDetails {
    padding: 20px;
    padding-top: 0;
    flex-grow: 1;
}
.cardTitle {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #221F20; /* Raisin black */;
    font-weight: 700;
    font-size: 18px;
    color: #0371ac; /* Honolulu blue */
}

.cardDescription {
    color: #221F20; /* Raisin black */
}

.cardLinks {
    display: flex;
    flex-wrap: wrap;
}

.cardLinks > * {
    margin: 8px;
}
/*//////////////////////////////////////////////// STAY PAGE /////////////////////////////////////////////////*/
