body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family:sans-serif;
}
.hero-image {
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)), url(Background.jpg) no-repeat center;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    height: 60vh;
}

.container h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    text-shadow: 0 0 10px black;    
}

.container h1 span {
    border-bottom: 5px solid rgba(255,255,255,.3);
    padding: 6px 14px;
    display: inline-block;
}

.description {
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}
.main-nav{
    text-align: right;
    float: none;
    list-style: none;
    margin-top: 0px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 25px;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 1em;
    width: 100%;
}
.hero-image2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0)),url(background2.jpg) no-repeat center;
    background-size: cover;
}

.container2{
    overflow: hidden;
    text-align: left;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 28px;
    margin: 20px;
    
}

.container2 h1{
    font-size: 40px;
    letter-spacing: 0.17em;
}
.description2{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    display: block;
    text-shadow: 0 0 10px black;
}
